---
import Mainlayout from '../layout/Mainlayout.astro'
---

<Mainlayout>
    <div class="px-12 py-12 gap-x-10 flex flex-row justify-center items-centers w-full h-[36em] bg-auto bg-no-repeat bg-right-top" style="background-image: url(/public/bg.png);">
		<div class="flex mt-10 flex-col gap-y-5 items-start animate__animated animate__fadeInLeft">
			<h1 class="text-7xl font-bold max-w-md">SELAMAT DATANG</h1>
			<p class="text-xl  font-bold italic text-orange-400">Di HomeBase Survei DataKite</p>
			<a href="/" class="px-5 py-2 w-32 bg-slate-800 text-white font-bold rounded-md">Get Started</a>
		</div>

		<div>
			<img src="./public/icon2.png" alt="" class="w-[30em] animate__animated animate__fadeInRight">
		</div>
	</div>

    <div class="mt-5 mb-10 px-12 py-5 flex flex-col justify-center items-center">
        <div>
            <h1 class="text-2xl font-bold">2023</h1>
        </div>

        <div class="mt-2">
            <div class="mt-5 grid grid-cols-2 gap-x-10 gap-y-5">
                <div class="border-4 rounded-xl max-w-md flex flex-col justify-center gap-y-1 drop-shadow-lg">
                    <div class="p-5 max-w-full bg-neutral-700 h-[15em] rounded-xl"></div>
                    <div class="mt-4 pb-5 px-10 flex flex-col justify-center items-center gap-y-5">
                        <h3 class="text-xl font-bold text-center max-w-sm">SURVEI AWAL KEPENGURUSAN KABINET KORELASI</h3>
                        <p class="px-5 bg-yellow-500 rounded-lg max-w-sm text-md font-medium text-white">Status : Selesai</p>
                        <p class="text-md font-bold">02 Januari 2023</p>
                        <a href="" class="text-md font-medium px-5 bg-blue-800 text-white rounded-xl">Selengkapnya <i class="fa-sharp fa-solid fa-arrow-right"></i></a>
                    </div>
                </div>
    
                <div class="border-4 rounded-xl max-w-md flex flex-col justify-center gap-y-1 drop-shadow-lg">
                    <div class="p-5 max-w-full bg-neutral-700 h-[15em] rounded-xl"></div>
                    <div class="mt-4 px-10 pb-5 flex flex-col justify-center items-center gap-y-5">
                        <h3 class="text-xl font-bold text-center max-w-sm">SURVEI MAHASISWA BERPRESTASI FKIP UNTAN 2023</h3>
                        <p class="px-5 bg-yellow-500 rounded-lg max-w-sm text-md font-medium text-white">Status : Selesai</p>
                        <p class="text-md font-bold">02 Januari 2023</p>
                        <a href="" class="text-md font-medium px-5 bg-blue-800 text-white rounded-xl">Selengkapnya <i class="fa-sharp fa-solid fa-arrow-right"></i></a>
                    </div>
                </div>
                
                <div class="border-4 rounded-xl max-w-md flex flex-col justify-center gap-y-1 drop-shadow-lg">
                    <div class="p-5 max-w-full bg-neutral-700 h-[15em] rounded-xl"></div>
                    <div class="mt-4 px-10 pb-5 flex flex-col justify-center items-center gap-y-5">
                        <h3 class="text-xl font-bold text-center max-w-sm">SURVEI MAHASISWA BERPRESTASI FKIP UNTAN 2023</h3>
                        <p class="px-5 bg-yellow-500 rounded-lg max-w-sm text-md font-medium text-white">Status : Selesai</p>
                        <p class="text-md font-bold">02 Januari 2023</p>
                        <a href="" class="text-md font-medium px-5 bg-blue-800 text-white rounded-xl">Selengkapnya <i class="fa-sharp fa-solid fa-arrow-right"></i></a>
                    </div>
                </div>

                <div class="border-4 rounded-xl max-w-md flex flex-col justify-center gap-y-1 drop-shadow-lg">
                    <div class="p-5 max-w-full bg-neutral-700 h-[15em] rounded-xl"></div>
                    <div class="mt-4 px-10 pb-5 flex flex-col justify-center items-center gap-y-5">
                        <h3 class="text-xl font-bold text-center max-w-sm">SURVEI MAHASISWA BERPRESTASI FKIP UNTAN 2023</h3>
                        <p class="px-5 bg-yellow-500 rounded-lg max-w-sm text-md font-medium text-white">Status : Selesai</p>
                        <p class="text-md font-bold">02 Januari 2023</p>
                        <a href="" class="text-md font-medium px-5 bg-blue-800 text-white rounded-xl">Selengkapnya <i class="fa-sharp fa-solid fa-arrow-right"></i></a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</Mainlayout>