---

---

<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta name="generator" content={Astro.generator} />
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/animate.css/4.1.1/animate.min.css"/>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/6.4.0/css/all.min.css" integrity="sha512-iecdLmaskl7CVkqkXNQ/ZH/XLlvWZOJyj7Yy7tcenmpD1ypASozpmT/E0iPtmFIB46ZmdtAc9eNBvH0H/ZpiBw==" crossorigin="anonymous" referrerpolicy="no-referrer" />
    <link rel="icon" href="/scale.png" type="image/png">
    <title>DATAKITE FKIP UNTAN</title>
</head>
<body>
    <nav class="px-16 py-2 flex items-center justify-between shadow-md">
        <div class="flex items-center gap-5">
            <img src="./public/logo datakite.png" alt="datakite" class="w-14 py-3">
            <h1 class="text-md font-bold">DATAKITE FKIP UNTAN</h1>
        </div>

        <div class="flex gap-5">
            <a href="/" class="text-xl font-bold text-orange-400">Beranda</a>
            <a href="/Survei" class="text-xl font-bold text-orange-400">Survei</a>
            <a href="/Database" class="text-xl font-bold text-orange-400">Database</a>
            <a href="/Riset" class="text-xl font-bold text-orange-400">Riset</a>
        </div>
    </nav>

    <slot>

    </slot>

    <footer class="pt-5 px-12 flex justify-around items-start text-white bg-slate-800 h-[14em]">
        <div class="flex flex-col justify-center items-center space-y-5">
            <h3 class="text-md font-bold">Tentang Website</h3>
            <p class="text-md font-medium max-h-5 w-[16em] text-center">Website ini dikelola Departemen Riset dan Data BEM FKIP UNTAN</p>
            <div class="pt-10">
                <a href="https://bemfkipuntan.org" target="_blank" class="px-4 py-2 bg-orange-400 rounded-md text-md font-semibold">Media BEM FKIP UNTAN <i class="fa-solid fa-arrow-right ml-2"></i></a>
            </div>
        </div>

        <div class="flex flex-col space-y-2">
            <h3 class="text-md font-bold">Kontak Penting</h3>
            <ul class="list-disc flex flex-col justify-center space-y-3">
                <li class="text-md font-medium"><a href="https://wa.me/6282148376979">Kontak <span class="font-bold">BEM FKIP UNTAN</span></a></li>
                <li class="text-md font-medium"><a href="https://wa.me/6285388404702">Kontak <span class="font-bold">ADKESMA</span></a></li>
                <li class="text-md font-medium"><a href="https://wa.me/6285750071210">Kontak <span class="font-bold">RISDA</span></a></li>             
            </ul>
        </div>

        <div class="flex flex-col items-center justify-center space-y-3">
            <h3 class="text-md font-bold">Media Sosial</h3>
            <div class=" space-x-5">
                <a href="https://www.facebook.com/kabinettransformasibemfkipuntan/" class=""><i class="fa-brands fa-facebook text-[2em] p-2 bg-orange-400 rounded-full"></i></a>
                <a href="https://twitter.com/bemfkip_untan"><i class="fa-brands fa-twitter text-[2em] p-2 bg-orange-400 rounded-full"></i></a>
                <a href="https://bemfkipuntan.org"><i class="fa-brands fa-instagram text-[2em] p-2 bg-orange-400 rounded-full"></i></a>
                <a href="https://www.youtube.com/@BEMFKIPUNTAN/featured"><i class="fa-brands fa-youtube text-[2em] p-2 bg-orange-400 rounded-full"></i></a>
            </div>
        </div>
    </footer>
    <div class="px-12 py-5 flex items-center justify-center bg-slate-800 border-t-2 text-white">
        <h1 class="text-md font-semibold">Copyright <i class="fa-solid fa-copyright"></i> BEM FKIP UNTAN 2023</h1>
    </div>


</body>
</html>